@import "./../../scss/variables.scss";

.panel {
  position: absolute;

  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;

  -webkit-transition: $background-animation-duration;
     -moz-transition: $background-animation-duration;
          transition: $background-animation-duration;
  -webkit-animation-timing-function: ease-out; /* Chrome, Safari, Opera */
          animation-timing-function: ease-out;

  &.active {

  }

  &.passed {
    left: -100% !important;
    // -webkit-transition-delay: 0.25s !important; /* Safari */
    //         transition-delay: 0.25s !important;
  }

  > .wrapper {
    position: relative;

    > img {
      width: 100%;
      height: auto;
    }

    > .shuffletext {
      position: absolute;
      left: 18%;
      top: 32%;
      width: 60%;
      height: 80%;
      text-align: center;
      font-weight: 700;
      font-family: $font-bold;
      color: $gray;
      font-size: $font-normal;
      line-height: 1.5;
    }
  }


}
