@import "./../../scss/variables.scss";

.parallax-layer {
  position: absolute;
  left: 0;


  -webkit-transform-origin: 50% 50%; /* Chrome, Safari, Opera */
      -ms-transform-origin: 50% 50%; /* IE 9 */
          transform-origin: 50% 50%;

  -webkit-transition-duration: 0.35s;
     -moz-transition-duration: 0.35s;
          transition-duration: 0.35s;
  -webkit-animation-timing-function: ease-out; /* Chrome, Safari, Opera */
          animation-timing-function: ease-out;
}
