@import "./../../scss/variables.scss";

.slide {
  position: absolute;

  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;

  -webkit-transition: $background-animation-duration;
     -moz-transition: $background-animation-duration;
          transition: $background-animation-duration;
  -webkit-animation-timing-function: ease-out; /* Chrome, Safari, Opera */
          animation-timing-function: ease-out;

  &.active {

  }

  &.passed {
    left: -100% !important;
    // -webkit-transition-delay: 0.25s !important; /* Safari */
    //         transition-delay: 0.25s !important;
  }

  > .wrapper {
    position: relative;
    width: 100%;
    > .actor {
      position: absolute;
      left: 50%;
      bottom: 35%;
      width: 25%;
      height: auto;
      cursor: pointer;

      // transform-origin: 50% 80%;
      // transform: rotate(0);
      -webkit-transition-duration: 0s;
         -moz-transition-duration: 0s;
              transition-duration: 0s;
      -webkit-animation-timing-function: ease-out; /* Chrome, Safari, Opera */
              animation-timing-function: ease-out;


      &.ready {
        left: 35%;
        bottom: 30%;
        -webkit-transition-duration: 0.25s;
           -moz-transition-duration: 0.25s;
                transition-duration: 0.25s;
      }
      &.animate {
        left: 0%;
        bottom: 0%;
        -webkit-transition-duration: 0.5s;
           -moz-transition-duration: 0.5s;
                transition-duration: 0.5s;
      }

      // &.left {
      //   left: 5%;
      // }
      // &.right {
      //   left: 75%;
      // }
      //
      // &.animate {
      // 	&.left {
      //     // transform: rotate(-15deg);
      //   }
      //   &.right {
      //     // transform: rotate(15deg);
      //   }
      // }
    }

    > .base {
      cursor: pointer;
      // pointer-events: none;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: auto;
    }
  }


}
