@import "./../../scss/variables.scss";

.bookshelf {
  position: absolute;

  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;

  -webkit-transition: $background-animation-duration;
     -moz-transition: $background-animation-duration;
          transition: $background-animation-duration;
  -webkit-animation-timing-function: ease-out; /* Chrome, Safari, Opera */
          animation-timing-function: ease-out;

  &.active {

  }

  &.passed {
    left: -100% !important;
    // -webkit-transition-delay: 0.25s !important; /* Safari */
    //         transition-delay: 0.25s !important;
  }

  > img {
    width: 100%;
    height: auto;
  }
}
