@import "./../../scss/variables.scss";

.flower {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;

  > img {
    width: 100%;
    height: auto;
  }
}
