$white: rgba(255, 255, 255, 1);
$black: rgba(0, 0, 0, 1);
$gray: rgba(128, 128, 128, 1);
$brown-light: rgba(246, 236, 231, 1);
$brown: rgba(205, 185, 152, 1);
$brown-dark: rgba(170, 153, 127, 1);

$font-normal: 'Open Sans', sans-serif;
$font-narrow: 'Open Sans Condensed', sans-serif;
$font-bold: 'Greco', sans-serif;

$font-xxx-large: 16em;
$font-xx-large: 4em;
$font-x-large: 2em;
$font-large: 1.5em;
$font-medium-large: 1.25em;
$font-medium: 1em;
$font-small: 0.75em;
$font-x-small: 0.5em;

@keyframes spin {
  0% { transform: rotate(0deg); }
  10% { transform: rotate(0deg); }
  20% { transform: rotate(-5deg); }
  80% { transform: rotate(725deg); }
	90% { transform: rotate(720deg); }
  100% { transform: rotate(720deg); }
}

@keyframes fade-in {
  0% { opacity: 0; }
  75% { opacity: 0; }
  100% { opacity: 1; }
}
